.breakpoint-0 {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: #fff
}
.style1 {
  background-color: #d53434;
  border-left: .26666666666666666vw solid #707070;
  border-right: .26666666666666666vw solid #707070;
  border-top: .26666666666666666vw solid #707070;
  border-bottom: .26666666666666666vw solid #707070;
  margin-left: 31.733333333333334vw;
  margin-top: 10.83743842364532vh;
  width: 29.6vw;
  height: 24.533333333333335vw;
  z-index: 0
}
.breakpoint-0 {
  display: block
}